[submodule "tools/vcpkg"]
	path = tools/vcpkg
	url = https://github.com/Microsoft/vcpkg.git
[submodule "external/cln"]
	path = external/cln
	url = git://www.ginac.de/cln.git
[submodule "thirdparty/cln"]
	path = thirdparty/cln
	url = git://www.ginac.de/cln.git
